{% extends '@XutimSecurity/security/security_base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <h1>Reset your password</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <twig:Xutim:Admin:Button variant="primary">
                Reset password
            </twig:Xutim:Admin:Button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
