{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% import '@XutimCore/admin/common/forms.html.twig' as forms %}
{% set title = 'Add a new user'|trans({}, 'admin') %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header p-3">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">{{ form(form) }}</div>
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="append" targets="#user-list-body">
        <template>
            {{ include('@XutimCore/admin/user/_user_row.html.twig') }}
        </template>
    </turbo-stream>

    <turbo-stream action="update" target="modal">
        <template></template>
    </turbo-stream>
{% endblock %}
